body{
    background-color: whitesmoke;
}
#main{
    background-color:whitesmoke;
    
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}
#JHelpBox{
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    
    position:absolute;
    
    text-align: center;
}
#JHelp{
    background-color: white;
    
    text-align: center;
    
    font-size: 3vh;
    font-size: calc(var(--vh, 1vh) * 3);
    
    margin-top: -93vh;
    margin-top: calc(var(--vh, 1vh) * -93);
    margin-left: 0.5vw;
    
    padding-left:1vh;
    padding-left: calc(var(--vh, 1vh) * 1);
    padding-right:1vh;
    padding-right: calc(var(--vh, 1vh) * 1);
    
    border-style: solid;
    border-color: slategray;
    border-width: thick;
    
    outline:none;  
}
#loginBox{
    background-color: white;
    
    height: 20vh;
    height: calc(var(--vh, 1vh) * 20);
    
    width: 40vh;
    
    padding-left:1vh;
    padding-left: calc(var(--vh, 1vh) * 1);
    padding-right:1vh;
    padding-right: calc(var(--vh, 1vh) * 1);
    
    border-style: solid;
    border-color: slategray;
    border-width: thick;
    
    text-align: center;
}
#idInput{
    height:3vh;
    height: calc(var(--vh, 1vh) * 3);
    
    width: 33vh;
    
    margin-top: -5vh;
    
    text-align: center;
    font-size: 2vh;
    font-size: calc(var(--vh, 1vh) * 2);
    
    line-height: 100%;
    
    position: absolute;
    
    border-style: solid;
    border-color: slategray;
}
#passInput{
    height:3vh;
    height: calc(var(--vh, 1vh) * 3);
    
    width: 33vh;
    
    text-align: center;
    font-size: 2vh;
    font-size: calc(var(--vh, 1vh) * 2);
    
    line-height: 100%;
    
    position: absolute;
    
    border-style: solid;
    border-color: slategray;
}
#loginButton{
    background-color: lightgrey;
    
    height:3vh;
    height: calc(var(--vh, 1vh) * 3);
    
    width: 33vh;
    
    margin-top: 5vh;
    
    text-align: center;
    font-size: 2vh;
    font-size: calc(var(--vh, 1vh) * 2);
    
    line-height: 100%;
    
    position: absolute;
    
    border-style: solid;
    border-color: slategray;
    
    outline:none;
}